@font-face {
    font-family: 'MiSans';
    font-weight: normal;
    src: url(./MiSans-Regular.ttf);
}

@font-face {
    font-family: 'MiSans';
    font-weight: bold;
    src: url(./MiSans-Demibold.ttf);
}

@font-face {
    font-family: 'HarmonyOS Sans';
    font-weight: normal;
    src: url(./HarmonyOS_Sans_Regular.ttf);
}

@font-face {
    font-family: 'HarmonyOS Sans';
    font-weight: bold;
    src: url(./HarmonyOS_Sans_Medium.ttf);
}

body {
    -webkit-user-select: none;
            user-select: none;
    font-family: MiSans;
}

.mi-sans {
    font-family: MiSans !important;
}

.harmony-sans {
    font-family: HarmonyOS Sans !important;
}

.mdui-select {
    font-family: MiSans;
}

h1 {
    font-weight: bold;
}

.preview-dialog .mdui-dialog-content {
    padding: 0;
}
