@font-face {
    font-family: 'MiSans';
    font-weight: normal;
    src: url(./MiSans-Regular.ttf);
}

@font-face {
    font-family: 'MiSans';
    font-weight: bold;
    src: url(./MiSans-Demibold.ttf);
}

@font-face {
    font-family: 'HarmonyOS Sans';
    font-weight: normal;
    src: url(./HarmonyOS_Sans_Regular.ttf);
}

@font-face {
    font-family: 'HarmonyOS Sans';
    font-weight: bold;
    src: url(./HarmonyOS_Sans_Medium.ttf);
}

@font-face {
    font-family: 'SF Pro Display';
    font-weight: normal;
    src: url(./fonts/SF-Pro-Display-Regular.otf);
}

@font-face {
    font-family: 'SF Pro Display';
    font-weight: bold;
    src: url(./fonts/SF-Pro-Display-Medium.otf);
}

body {
    -webkit-user-select: none;
            user-select: none;
    font-family: MiSans;
}

.mi-sans {
    font-family: MiSans !important;
}

.harmony-sans {
    font-family: HarmonyOS Sans !important;
}

.sf-pro {
    font-family: SF Pro Display !important;

.mdui-select {
    font-family: MiSans;
}

.mdui-snackbar {
    -webkit-box-shadow: 0 3px 1px -2px rgba(0,0,0,.2),0 2px 2px 0 rgba(0,0,0,.14),0 1px 5px 0 rgba(0,0,0,.12)!important;
            box-shadow: 0 3px 1px -2px rgba(0,0,0,.2),0 2px 2px 0 rgba(0,0,0,.14),0 1px 5px 0 rgba(0,0,0,.12)!important;
}

h1 {
    font-weight: bold;
}

.preview-dialog .mdui-dialog-content {
    padding: 0;
}
